body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    color: #3d435c;
    box-sizing: border-box;
    align-content: center;
    margin: 0;
}
.page{
    margin: 15px;
}
.entete{
    text-align: center;
}
p{
    font-size: 50px!important;
    color: #071a38;
    margin-bottom: 0px;
}
.menu ul {
    list-style: none;
}
.menu{
    width: 15%;
    float: left;
    line-height: 1.8;
    background-color: rgb(219, 237, 248);
    padding: 15px;
}
.menu a{
    text-decoration: none;
    color: #3d435c;
}
.menu a:hover{
    text-decoration: none;
    color: #f4d020;
}
.content{
    text-align: center;
    width: 75%;
    margin-left: 20%;
    border: 3px solid #dee2e6!important;
    border-radius: 0.25rem!important;
}