*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    color: #3d435c;
    box-sizing: border-box;
    align-content: center;
    margin: 0;
}
.log{
    margin-top: 10px;
    text-align: end;
    color:#071a38 ;
}
.log input{
    width: 100px;
}
a.navbar-title:hover {
    text-decoration: none;
    color: #071a38 ;
}
.site-navbar .site-navigation .site-menu > li {
    display: inline-block;
    padding: 10px 5px;
}
.site-navbar .site-navigation .site-menu .has-children > a {
    position: relative;
    padding-right: 20px;
}
.site-navbar .site-navigation .site-menu > li > a {
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #25262a;
    font-size: 15px;
    text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    font-size: 15px;
    display: inline-block;
}
.site-navbar a {
    color: #868995;
}
.entete{
    text-align: center;
}
a.navbar-title{
    text-decoration: none;
    font-size: 50px;
    color: #071a38;
}
.menu{
    margin-top: 20px;
    background-color:rgb(219, 237, 248) ;
}
.nav-item{
    text-align: center;
}
a.nav-link{
    font-size: 20px;
    text-decoration: none;
    color: #071a38;
}
a.nav-link:hover{
    font-size: 20px;
    text-decoration: none;
    color: #f4d020;
}

.azer{
    box-sizing: border-box;
    height: 550px;
    height: ;
}
.aze{
    box-sizing: border-box;
    height: 1000px;
}

.welcome{
    margin-top: 50px;
    height: 500px;
    background-position: center center !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
}
.container{
    margin-top: 170px;
    margin-bottom: 20px;
    height: fit-content;
}

.titre{
    text-align: center;
    color: #f4d020;
    font-size: 50px;
}

.bloc-accueil{
    height: fit-content;
    background-color: rgb(219, 237, 248);
    position: absolute;
    left: 0;
    right: 0;
    padding: 25px;
}
.img-actu{
    width: 50%;
}
.table-actu{
    padding: 20px;
}

.inscri{
    background-color: rgb(219, 237, 248) ;
}



