@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

body {
    font-family:'Oswald', sans-serif !important;
    font-size:16px; 
    line-height:1.5 !important; 
    font-weight:400 ; 
    letter-spacing:2px !important;

    color: #3d435c;
    box-sizing: border-box;
    align-content: center;
    margin: 0;
}
.page{
    margin: 15px;
}
.entete{
    text-align: center;
}
p{
    font-size: 50px!important;
    color: #071a38;
    margin-bottom: 0px;
}
.menu ul {
    list-style: none;
}
.menu{
    width: 15%;
    float: left;
    line-height: 1.8;
    background-color: #00A6A6;
    padding: 15px;
}
.menu a{
    text-decoration: none;
    color: #3d435c;
}
.menu a:hover{
    text-decoration: none;
    color: #f4d020;
}
.content{
    text-align: center;
    width: 75%;
    margin-left: 20%;
    border: 3px solid #dee2e6!important;
    border-radius: 0.25rem!important;
}