*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 300;
    color: #3d435c;
    box-sizing: border-box;
    align-content: center;
    margin: 0;
}
.log{
    margin-top: 10px;
    text-align: end;
    color:#071a38 ;
}
.log input{
    width: 100px;
}
a.navbar-title:hover {
    text-decoration: none;
    color: #071a38 ;
}
.site-navbar .site-navigation .site-menu > li {
    display: inline-block;
    padding: 10px 5px;
}
.site-navbar .site-navigation .site-menu .has-children > a {
    position: relative;
    padding-right: 20px;
}
.site-navbar .site-navigation .site-menu > li > a {
    padding: 10px 10px;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #25262a;
    font-size: 15px;
    text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu a {
    text-decoration: none !important;
    font-size: 15px;
    display: inline-block;
}
.site-navbar a {
    color: #868995;
}
.entete{
    text-align: center;
    margin-bottom: 10px;
}
a.navbar-title{
    text-decoration: none;
    font-size: 50px;
    color: #071a38;
}
.menu{
    margin-top: 20px;
    background-color:#00A6A6 ;
}
.nav-item{
    text-align: center;
}
a.nav-link{
    font-size: 20px;
    text-decoration: none;
    color: #071a38;
}
a.nav-link:hover{
    font-size: 20px;
    text-decoration: none;
    color: #f4d020;
}

.azer{
    box-sizing: border-box;
    height: 550px;
    height: ;
}
.aze{
    box-sizing: border-box;
    height: fit-content;
    background-color: #F08700;
}

.welcome{
    margin-top: 50px;
    height: 500px;
    background-position: center center !important;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
}
.container{
    margin-top: 170px;
    margin-bottom: 20px;
    height: fit-content;
}

.titre{
    text-align: center;
    color: #f4d020;
    font-size: 50px;
}

.bloc-accueil{
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    padding: 25px;
}
.img-actu{
    width: 100%;
    text-align: center;
}
.img-form{
    height: 500px;
}
.table-actu{
    width: 95%;
}

.contenu{
    background-image: url(images/bg_1.jpg);
    background-position: center center !important;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    height: 490px;
    color: #fff;
    font-weight: 600;
}

.table-inscri{
    background-color: rgba(0, 0, 0, 0.288);
}

/*   ///////////////////////////////////////////  VIDEOO ///////////////////////////////////////////         */

.vid {
    position: relative;
    background-color: black;
    height: 80vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
.vid video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .vid .container {
    position: relative;
    z-index: 2;
  }
  
  .vid .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    .vid {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    .vid video {
      display: none;
    }
  }

  /* FIN VIDEOOOOO */

  /* ///////////////////////////////////// FOOOOOTER ////////////////////////////// */
  /* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 20px 0;
}


#footer {
    background: #00A6A6 !important;
    padding-left: 80px;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
/* FIN FOOTER */


hr {border-top: 1px solid #000; width:50%;}

a {color: #000;}

a:link{text-decoration:none;}

#contact2{
    letter-spacing:3px;
}



#author a{
  color: #fff;
  text-decoration: none;
    
}
